{
    "env": {
        "es2021": true,
        "jest": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:promise/recommended"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 12,
        "sourceType": "module"
    },
    "plugins": [
        "@typescript-eslint",
        "promise",
        "header"
    ],
    "rules": {
        "header/header": [2, "content/header.js"],
        "@typescript-eslint/ban-ts-comment": 0
    }
}
