__pycache__/
*.py[cod]
*$py.class
.Python
MANIFEST
pip-log.txt
pip-delete-this-directory.txt
.python-version
venv/
venv.bak/
.idea/
servers.txt
.mypy_cache
cookies.json
.venv
*.db
config.json
*.xml
.mypy_cache
