__pycache__/
*.py[cod]
*$py.class
.Python
MANIFEST
pip-log.txt
pip-delete-this-directory.txt
.python-version
venv/
venv.bak/
tokens.txt
.idea/
content/Cookiefile
servers.txt
discord.log
.mypy_cache
cookies.json
.venv
.theia
