__pycache__/
*.py[cod]
*$py.class
.Python
*.egg-info/
MANIFEST
pip-log.txt
pip-delete-this-directory.txt
.ipynb_checkpoints
.python-version
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
token.txt
serveropts.json
