[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://cakebot.mycloudrepo.io/public/repositories/py"
verify_ssl = true
name = "cloudrepo"

[requires]
python_version = "3.6"

[dev-packages]
setuptools = '*'
wheel = '*'

[packages]
area4 = "*"
lcbools = "*"
pygithub = "*"
reverse-geocoder = "*"
beautifulsoup4 = "*"
discord.py = "==0.16.12"
