[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://cakebot.mycloudrepo.io/public/repositories/py"
verify_ssl = true
name = "cloudrepo"

[requires]
python_version = "3.6"

[packages]
area4 = '*'
discord.py = '<=0.16.12'
PyGithub = '*'
'reverse_geocoder' = '>=1.5.0'
lcbools = '*'
beautifulsoup4 = '4.7.1'

[dev-packages]
setuptools = '*'
wheel = '*'
