--index-url 'https://cakebot.mycloudrepo.io/public/repositories/py'
--extra-index-url 'https://pypi.org/simple'
setuptools==41.0.1
wheel==0.33.4
area4==2.5.7
discord.py==0.16.12
PyGithub==1.43.7
reverse_geocoder==1.5.1
lcbools==1.0.2
beautifulsoup4==4.7.1
iss_api==1.1
filehandlers==1.2
slots==1.0
factdata==1.0
