--extra-index-url https://rdil.mycloudrepo.io/public/repositories/cakebot

# development dependencies
black==19.10b0
mypy==0.770
flake8==3.8.1
ptpython==3.0.2
isort==4.3.21
yappi==1.2.5

# primary dependencies
discord.py==1.3.3
sentry-sdk==0.14.4
discord-sentry-reporting==2.0.4
sqlalchemy==1.3.16

# data libraries
filehandlers==3.0.1
slots==1.3
factdata==2.0.0
area4>=3.0.0
reverse_geocoder==1.5.1
PyGithub==1.51

# extensions for better support
cchardet==2.1.6

# tests
unittest-xml-reporting==3.0.2
